<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
    <style>
        #hidden-part {
            display: none; /* По подразбиране съдържанието е скрито */
        }

        #hidden-part-add {
            display: none; /* По подразбиране съдържанието е скрито */
        }


    </style>
</head>
<body>
<a href="/">Начална страница</a>

<h1>Books</h1>

<!--add-->
<form  action="/add" method="post">
    <div id="hidden-part-add">
        <label for="titleAdd">Title:</label>
        <input type="text" id="titleAdd" name="titleAdd">
        <label for="authorAdd">Author:</label>
        <input type="text" id="authorAdd" name="authorAdd">
        <label for="descriptionAdd">Description:</label>
        <textarea id="descriptionAdd" name="descriptionAdd"></textarea>

        <label for="statusAdd">Status:</label>
        <select name="statusAdd" id="statusAdd">
            <option value="READ">read</option>
            <option value="TO_READ">to read</option>
            <option value="READING">reading</option>
        </select>
        <button type="submit">Save Changes</button> <br>

    </div>
    <button type="button" onclick="hideFuncAdd()">Add new Book</button>
</form>
<br><br>

<table>
    <!--delete and read-->
    <tr>
        <th style="padding: 10px;">Id</th>
        <th style="padding: 10px;">Title</th>
        <th style="padding: 10px;">Author</th>
        <th style="padding: 10px;">Description</th>
        <th style="padding: 10px;">Status</th>
        <th style="padding: 10px;">Action</th>
    </tr>

    <tr th:each="book : ${books}">
        <td class="hidden-part-read" th:text="${book.id}"></td>
        <td class="hidden-part-read" th:text="${book.title}"></td>
        <td class="hidden-part-read" th:text="${book.author}"></td>
        <td class="hidden-part-read" th:text="${book.description}"></td>
        <td class="hidden-part-read" th:text="${#strings.replace(#strings.toLowerCase(book.status), '_', ' ')}"></td>
        <td>
            <form action="/update" method="post">
                <div id="hidden-part">
                    <input type="hidden" id="oldTitle" name="oldTitle" required><!--hidden-->

                    <label for="title">New Title:</label>
                    <input type="text" id="title" name="title">

                    <label for="author">New Author:</label>
                    <input type="text" id="author" name="author">

                    <label for="description">New Description:</label>
                    <textarea id="description" name="description"></textarea>

                    <label for="status">Status:</label>
                    <select name="status" id="status">
                        <option value="">Keep current</option>
                        <option value="READ">read</option>
                        <option value="TO_READ">to read</option>
                        <option value="READING">reading</option>
                    </select> <br>

                    <button type="submit">Save Changes</button>
                </div>
            </form>
        </td>
        <td>
            <form action="/delete" method="post">
                <input type="hidden" name="title" th:value="${book.title}">
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <button type="button" onclick="hideFuncUpdate(this)">Update Book</button>
        </td>
    </tr>

</table>



<br>

<script>
    function hideFuncUpdate(button) {
        var row = button.closest("tr");
        var title = row.querySelector("td:nth-child(2)").innerText;
        var form = row.querySelector("form[action='/update']");
        var hiddenPart = form.querySelector("#hidden-part");

        var titleInput = form.querySelector("#oldTitle");
        titleInput.value = title; // Задава заглавието в oldTitle
        //?



        // Показва / скрива формата
        if (!hiddenPart.style.display || hiddenPart.style.display === "none") {
            hiddenPart.style.display = "block";
        } else {
            hiddenPart.style.display = "none";
        }

        var x = document.getElementsByClassName("hidden-part-read");
        for (var i = 0; i < x.length; i++) {
            if (x[i].style.visibility  === "hidden") {
                x[i].style.visibility  = "visible";
            } else {
                x[i].style.visibility  = "hidden";
            }
        }
    }
    function hideFuncAdd() {
        var x = document.getElementById("hidden-part-add");
        if (!x.style.display || x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

</script>



</body>
</html>
