<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
    <style>
        #hidden-part {
            display: none; /* По подразбиране съдържанието е скрито */
            position: absolute; /* Позиционира се абсолютно спрямо родителския елемент */
            top: 200px; /* Разстояние от бутона за обновяване */
            left: 10px;
            width: 100%; /* Ширината на формата е 100% спрямо родителя */
        }
        #hidden-part-add {
            display: none; /* По подразбиране съдържанието е скрито */
            position: absolute;  /* Добавете относително позициониране */
            top: 100px;
            left:10px;
        }
    </style>
</head>

<body>
<a href="/">Начална страница</a>
<h1>Books</h1>

<!--add-->
<form  action="/add" method="post">
    <div id="hidden-part-add">
        <label for="titleAdd">Title:</label>
        <input type="text" id="titleAdd" name="titleAdd">
        <label for="authorAdd">Author:</label>
        <input type="text" id="authorAdd" name="authorAdd">
        <label for="descriptionAdd">Description:</label>
        <textarea id="descriptionAdd" name="descriptionAdd"></textarea>

        <label for="statusAdd">Status:</label>
        <select name="statusAdd" id="statusAdd">
            <option value="READ">read</option>
            <option value="TO_READ">to read</option>
            <option value="READING">reading</option>
        </select>

        <button type="submit">Save Changes</button>
    </div>

    <button type="button" id="toggleAddButton" onclick="hideFuncAdd()">Add new Book</button>
</form>
<br><br>

<table>
    <!--delete and read-->
    <tr>
        <th class="hidden-part-read" style="padding: 10px;">Id</th>
        <th class="hidden-part-read" style="padding: 10px;">Title</th>
        <th class="hidden-part-read" style="padding: 10px;">Author</th>
        <th class="hidden-part-read" style="padding: 10px;">Description</th>
        <th class="hidden-part-read" style="padding: 10px;">Status</th>
        <th style="padding: 10px;">Action</th>
    </tr>

    <tr th:each="book : ${books}">
        <td class="hidden-part-read" th:text="${book.id}"></td>
        <td class="hidden-part-read" th:text="${book.title}"></td>
        <td class="hidden-part-read" th:text="${book.author}"></td>
        <td class="hidden-part-read" th:text="${book.description}"></td>
        <td class="hidden-part-read" th:text="${#strings.replace(#strings.toLowerCase(book.status), '_', ' ')}"></td>
        <td>
            <form action="/update" method="post">
                <div id="hidden-part">
                    <input type="hidden" id="oldTitle" name="oldTitle" required><!--hidden-->

                    <label for="title">New Title:</label>
                    <input type="text" id="title" name="title" value="" placeholder="Enter new title">

                    <label for="author">New Author:</label>
                    <input type="text" id="author" name="author" value="" placeholder="Enter new author">

                    <label for="description">New Description:</label>
                    <textarea id="description" name="description"></textarea>

                    <label for="status">Status:</label>
                    <select name="status" id="status">
                        <option value="READ">read</option>
                        <option value="TO_READ">to read</option>
                        <option value="READING">reading</option>
                    </select>

                    <button type="submit">Save Changes</button>
                </div>
            </form>
        </td>
        <td>
            <button type="button" class="toggleUpdateButton" onclick="hideFuncUpdate(this)">Update Book</button>
        </td>
        <td>
            <form action="/delete" method="post">
                <input type="hidden" name="title" th:value="${book.title}">
                <button id="toggleDeleteButton" type="submit">Delete</button>
            </form>
        </td>
    </tr>

</table>
<br>

<script>
    function hideFuncUpdate(button) {
        var row = button.closest("tr");
        var title = row.querySelector("td:nth-child(2)").innerText;
        var author = row.querySelector("td:nth-child(3)").innerText;
        var description = row.querySelector("td:nth-child(4)").innerText;
        var status = row.querySelector("td:nth-child(5)").innerText.trim().toUpperCase(); // Преобразуваме към главни букви и премахваме излишни интервали
        var form = row.querySelector("form[action='/update']");
        var hiddenPart = form.querySelector("#hidden-part");

        var titleInput = form.querySelector("#oldTitle");
        var titleField = form.querySelector("#title");
        var authorField = form.querySelector("#author");
        var descriptionField = form.querySelector("#description");
        var statusField = form.querySelector("#status");

        titleInput.value = title;  // Задава старото заглавие в hidden полето
        titleField.value = title;  // Задава старото заглавие в полето за новото заглавие
        authorField.value = author;  // Задава стария автор в полето за нов автор
        descriptionField.value = description;  // Задава старото описание в полето за ново описание

        // За да запишем стойността на статус в полето за избор
        if (status === "READ") {
            statusField.value = "READ";
        } else if (status === "TO READ" ) {
            statusField.value = "TO_READ";
        } else if (status === "READING") {
            statusField.value = "READING";
        }

        // Показва / скрива формата
        if (!hiddenPart.style.display || hiddenPart.style.display === "none") {
            hiddenPart.style.display = "block";
            button.style.display = "none"; // Променяме текста на бутона
            button.style.marginTop = "21px";

            var allButtons = document.querySelectorAll("button"); // Взема всички бутони в страницата
            var allDeleteButtons = document.querySelectorAll("button[id='toggleDeleteButton']");

            // Скрива всички бутони освен "Add new Book" и "Save Changes"
            allButtons.forEach(btn => {
                if (btn !== button && btn.classList.contains("toggleUpdateButton") && btn.type !== "submit") {
                    btn.style.display = "none";
                }
            });

            allDeleteButtons.forEach(btn => btn.style.display = "none");  // Скрива бутоните за изтриване
        } else {
            hiddenPart.style.display = "none";
            button.textContent = "Update Book"; // Променяме текста на бутона обратно
            button.style.marginTop = "0";

           allButtons = document.querySelectorAll("button"); // Взема всички бутони в страницата
           allDeleteButtons = document.querySelectorAll("button[id='toggleDeleteButton']");

            // Връща видимостта на всички бутони
            allButtons.forEach(btn => {
                if (btn.classList.contains("toggleUpdateButton") && btn.type !== "submit") {
                    btn.style.display = "block";
                }
            });

            allDeleteButtons.forEach(btn => btn.style.display = "block"); // Показва бутоните за изтриване обратно
        }

        toggleVisibilityOfReadParts();
    }




    //скрива заглавията и редовете, които не се ъпдейтват
    function toggleVisibilityOfReadParts() {
        var x = document.getElementsByClassName("hidden-part-read");
        for (var i = 0; i < x.length; i++) {
            if (x[i].style.visibility === "hidden") {
                x[i].style.visibility = "visible";
            } else {
                x[i].style.visibility = "hidden";
            }
        }
    }

    function hideFuncAdd() {
        var x = document.getElementById("hidden-part-add");
        var button = document.getElementById("toggleAddButton");

        if (!x.style.display || x.style.display === "none") {
            x.style.display = "block";
            button.textContent = "Hide"; //променя текста на бутона
            button.style.marginLeft="920px";
            button.style.marginTop="14px";
        } else {
            x.style.display = "none";
            button.textContent = "Add new Book";
            button.style.marginLeft="0";
            button.style.marginTop="0";


        }
    }

</script>
</body>
</html>